* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, button {
    font-family: "Dekko", cursive;
    text-align: center;
}

body {
    background-color: #FEFCE2;
    color: #06154F;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 1.875em auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input, button, li {
    padding: 0.75em;
    border-radius: 8px;
    font-size: 1.25rem;
}

input {
    color: #06154F;
    background-color: #FDFDFD;
    border: 1px solid #FB736F;
    margin: 0.625em 0;
}

button, li {
    cursor: pointer;
}

button {
    color: #FDFDFD;
    background-color: #FB736F;
    border: 0;
    margin-bottom: 0.625em;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
}

li {
    background-color: #FDFDFD;
    flex-grow: 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

li:hover {
    background-color: #A6D9FB;
}